<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Backend</key>
	<string>Apple</string>
	<key>ConfigurationVersion</key>
	<integer>4</integer>
	<key>Display</key>
	<array/>
	<key>Drive</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>00000000-FAB7-40EF-872C-BFB404B3B6A8</string>
			<key>ImageName</key>
			<string>chr-uefi-fat.raw</string>
			<key>Nvme</key>
			<true/>
			<key>ReadOnly</key>
			<false/>
		</dict>
	</array>
	<key>Information</key>
	<dict>
		<key>Icon</key>
		<string>MT_Symbol_Line_Black.svg</string>
		<key>IconCustom</key>
		<true/>
		<key>Name</key>
		<string>RouterOS</string>
		<key>Notes</key>
		<string>Cloud Hosted Router (CHR) from Mikrotik, packaged by Amm0.  See https://github.com/tikoci/chr-utm for more details.</string>
		<key>UUID</key>
		<string>00000000-DD0F-4DFA-BB1A-51B849CA938D</string>
	</dict>
	<key>Network</key>
	<array>
		<dict>
			<key>MacAddress</key>
			<string>9a:27:ec:5e:af:8d</string>
			<key>Mode</key>
			<string>Shared</string>
		</dict>
	</array>
	<key>Serial</key>
	<array>
		<dict>
			<key>Mode</key>
			<string>Terminal</string>
			<key>Terminal</key>
			<dict>
				<key>BackgroundColor</key>
				<string>#000000</string>
				<key>CursorBlink</key>
				<true/>
				<key>Font</key>
				<string>Menlo</string>
				<key>FontSize</key>
				<integer>12</integer>
				<key>ForegroundColor</key>
				<string>#ffffff</string>
			</dict>
		</dict>
	</array>
	<key>System</key>
	<dict>
		<key>Architecture</key>
		<string>x86_64</string>
		<key>Boot</key>
		<dict>
			<key>EfiVariableStoragePath</key>
			<string>efi_vars.fd</string>
			<key>OperatingSystem</key>
			<string>Linux</string>
			<key>UEFIBoot</key>
			<true/>
		</dict>
		<key>CPUCount</key>
		<integer>0</integer>
		<key>GenericPlatform</key>
		<dict>
			<key>machineIdentifier</key>
			<data>
			YnBsaXN0MDDRAQJUVVVJRE8QEGnFsjSoV07ZsaVqyAx0ncsICxAA
			AAAAAAABAQAAAAAAAAADAAAAAAAAAAAAAAAAAAAAIw==
			</data>
		</dict>
		<key>MemorySize</key>
		<integer>4096</integer>
	</dict>
	<key>Virtualization</key>
	<dict>
		<key>Audio</key>
		<false/>
		<key>Balloon</key>
		<true/>
		<key>ClipboardSharing</key>
		<false/>
		<key>Entropy</key>
		<true/>
		<key>Keyboard</key>
		<string>Disabled</string>
		<key>Pointer</key>
		<string>Disabled</string>
	</dict>
</dict>
</plist>
